<div th:fragment="main" class="content-wrapper">
<div class="mx-2">
	<div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
            <a th:href=@{|/bbs/${boardForm.boardId}/list|} style=" background: none; border: none; cursor: pointer;">
              <h3 class="my-2" th:text="${boardForm.boardName}"></h3>
              </a>
              <h5 class="m-0" th:text="${boardForm.description}"></h5>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
 
						<div class="card">
							<div class="card-header my-2">
								<!--/* 제목 */-->
<div style="display: flex; justify-content: space-between; align-items: center;">
    <h4 th:text="${postForm.subject}"></h4>
    <h6 th:text="|작성자 ${postForm.nickname}|" style="text-align:right"></h5>
</div>
							<h6 style="text-align:right" th:text="|조회수 ${postForm.views} 
							작성일시 ${
							#temporals.format(postForm.createDate, 'yyyy-MM-dd HH:mm')}|"></h6>
							<div class="card-body bg-light">
								<!--/* 내용 */-->
        <h5 class="my-4" th:text="${postForm.content}">
        </h5>
        <div th:if="${#authentication.principal.memberId} == ${postForm.memberId}"><h3>작성자만 보이는 글</h3></div>
        <div th:each="tag : ${postForm.tags}">
        <a class="btn btn-secondary" th:text="|#${tag}|"></a>
        </div>
        </div>
        
        <div class="my-2 text-right" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUBADMIN')">
        <div th:if="${accessErrorMessage}" th:text="${accessErrorMessage}" class="danger"></div>
        <a class="btn btn-success rounded-pill" th:href="@{|/bbs/${boardId}/post/${boardPostId}/modify|}">글 수정</a>

        <form method="POST" th:action="@{|/bbs/${boardId}/post/${boardPostId}/delete|}" style="display:inline">
			      <!--/* CSRF 토큰 */-->
	<input type="hidden" th:name="${ _csrf.parameterName }" th:value="${ _csrf.token }"/>
        <input type="submit" class="btn btn-danger rounded-pill" value="글 삭제"></input></form>
        </div>
        </div>
        </div>
        
        
       
        